/**
 * Icon components - define the icons to be used here
 * 
 *
 * @author LearningWorks Ltd
 * @url https://learningworks.co.nz
 */

.icon {
	position: relative;
	display: inline-block;
	border-radius: 1px;
}

.icon:before,
.icon:after {
	content: "";
	position: absolute;
	border-radius: 1px;
}


// HAMBURGER ICON

.icon--hamburger {
	width: 1.625em;
	height: .2em;
	background: map-get($color, icon);
}

.icon--hamburger:before,
.icon--hamburger:after {
	width: 1.625em;
	height: .2em;
	background: map-get($color, icon);
	left: 0;
}

.icon--hamburger:before {
	top: -.525em;
}

.icon--hamburger:after {
	bottom: -.5em;
}